.Filter {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: white;
}

.button-container {
    display: inline;
    max-width: max-content;
}

.all-button {
    background-color: #001450;
    border-radius: 5px;
    border: none;
    color: white;

    width: 170px;
}

.all-button:hover {
    background-color: #e9f6f8;
    color: #001450;
    border: 1px solid #0d6efd;
    outline: none;
    box-shadow: 0 0 10px #0d6efd;
}

.discipline-buttons {
    background-color: #001450;
    border-radius: 5px;
    border: none;
    color: white;

    width: 170px;
    overflow: hidden;
}

.discipline-buttons:hover {
    background-color: #e9f6f8;
    color: #001450;
    border: 1px solid #0d6efd;
    outline: none;
    box-shadow: 0 0 10px #0d6efd;
    overflow: hidden;
}

.filter-btn {
    margin: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    min-height: 30px;
}