:root{
    --df-blue-1:#001450;
    --df-blue-2:#0064dc; 
    --df-blue-3:#e9f6f8; 
    --app-blue: #61dafb; 
    --df-back-color:#f4f2ee; 
    --df-grey:#505050; 
    --app-grey:#282c34; 
    --df-white:#ffffff; 
} 